.user {
  margin-top: 120px;
  text-align: left;
  padding: 20px;
  color: #000;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.user img {
  width: 300px;
  height: 220px;
  float: left;
  margin: 30px;
}
.user .card {
  display: block;
  width: 100%;
}
.card {
  font-size: 25px;
}
.user p {
  color: #000;
  font-weight: 400;
  font-size: 25px;
}
.user .fetching {
  margin-top: 230px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 6px dashed rgb(240, 97, 97);
  animation-name: serch-fetching;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-duration: alternate;
  animation-timing-function: linear;
}
@keyframes serch-fetching {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg) scale(1.3);
  }
}